/* work sans font google font linkup */
  @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

  /* shared style */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  }

  header{
    background-color: rgba(255, 144, 14, 0.1);
  }

  .text-gray-color{
    color: #727272;
    font-size: 1rem;
  }

  .btn-primary{
    background-color: rgba(255, 144, 14, 1);
    border: 0;
    border-radius: 8px;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600px;
    margin-bottom: 50px;
    cursor: pointer;
  }

  main{
    max-width: 1440px;
    margin: 0 auto;
  }

  section{
    margin: 130px 0;
  }

 /* nav style */
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 240px;
  }

  nav > ul{
    list-style: none;
    display: flex;
  }
                                                                                        
  nav li a{
    text-decoration: none;
    margin-left: 30px;
    color: #424242;
    font-weight: 500;
    font-size: 1rem;

  }

  .logo{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
  }

  /* banner style */

  .banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
  }

  .banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 42px;
  }

  .banner-description{
    margin: 30px 0;
  }

  .banner-part img{

    width: 100%;
  }

  /* team part style */

  .teams-container{
    display: flex;
    align-items: center;
  }

  .team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .team-content{
   padding-left: 70px;
   padding-right: 70px;
  }

  .Quick-list{
    color: #727272;
    font-size: 2.8rem;
    font-weight: 500;
  }

  .of-Our{
    color: #131313;
    font-size: 1.8rem;
    font-weight: 700;
  }

  .Features{
    color: #FF900E;
    font-size: 2.8rem;
    font-weight: 700;
  }

  .team-description{
    margin: 24px 0 32px;
  }

  /* facts part style */

  .facts-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 24px;
  }

  .facts-card-container{
    display: flex;
    justify-content: space-around;
  }

  .card{
    border: 1px solid rgba(255, 144, 14, 1);
    border-radius: 8px;
    text-align: center;
    padding: 40px 35px;
    margin-top: 100px;
  }

  .card-stats{
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
  }

  .card-title{
    color: #727272;
  font-size: 1.25rem;
  }

  /* sponsor part style */

  .sponsor{
    text-align: center;
  }

  .sponsor-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
  }

  .sponsor-description{
     margin: 24px 0 50px;
  }

  .sponsor-partner{
    display: flex;
    justify-content: space-between;
  }

  /* footer style */

  footer{
    text-align: center;
    
  }

footer small{
  background-color: rgba(255, 244, 231, 1);
  padding: 40px 410px;
}




  /* responsive media queries */

  /* responsive to mobile devices */

  @media screen and (max-width:576px) {
    header{
        padding: 20px;
    }

    nav{
        padding: 20px;
    }

    nav >ul{
        margin-top: 25px;
    }

    nav,
    .teams-container,
    .facts-card-container
    {
         flex-direction: column;
    }


    nav li a {
      margin-left: 10px;
    }

    .teams-container{
      flex-direction: column-reverse;
    }

    .team-img-container{
      grid-template-columns: 1fr;
    }

    .card{
      margin-top: 30px;
    }
    .facts{
      text-align: center;
      padding: 20px;
    }

    .sponsor-partner{
       flex-wrap: wrap;
    }

    .sponsor{
      padding: 20px;
    }

    footer{
      background-color: rgba(255, 244, 231, 1);
      padding: 20px 0;
    }

    footer small{
      padding: 0;
    }


  }

  /* responsive to tab and medium devices */

  @media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 20px;
    }

    nav{
        padding: 20px;
    }

    nav >ul{
        margin-top: 25px;
    }

    nav,
    .teams-container,
    .facts-card-container
    {
         flex-direction: column;
    }

  .teams-container{
    flex-direction: column-reverse;
  }

    .team-img-container{
      grid-template-columns: 1fr;
    }

    .team-content{
      text-align: center;
    }

    .card{
      margin-top: 30px;
    }
    .facts{
      text-align: center;
      padding: 20px;
    }

    .sponsor-partner{
      flex-wrap: wrap;
   }

   .sponsor{
    padding: 20px;
  }


  }